@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
.con {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

.hesder__con {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.logo__section__singup {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.logo__section__singup img {
  width: 100%;
}

.logo__text {
  font-size: 34px;
}

.sing__up__btns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

button.singup__btn {
  border: none;
  outline: none;
  text-transform: capitalize;
  background: transparent;
  font-size: 16px;
  letter-spacing: 0.3px;
}

a.sing__up__btn {
  text-decoration: none;
  color: black;
}

.con {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

.hesder__con {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.logo__section__singup {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

img {
}

.logo__section__singup img {
  width: 100%;
}

.logo__text {
  font-size: 34px;
  color: black;
}

.sing__up__btns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

button.singup__btn {
  border: none;
  outline: none;
  text-transform: capitalize;
  background: transparent;
  font-size: 16px;
  letter-spacing: 0.3px;
  color: #fb5200;
}

a.sing__up__btn {
  text-decoration: none;
  color: #fb5200;
}

.inputs__login {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.8rem;
}

.iputs__login {
  width: 100%;
}

.user__email__input {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user__email__input input {
  width: 90%;
  border: none;
  outline: none;
  background: aliceblue;
  padding: 1.2rem 2.5rem;
  border-radius: 1.2rem;
  text-transform: capitalize;
  font-weight: 300;
}

input[type="password"] {
}

.user__password__input input {
  width: 90%;
  border: none;
  outline: none;
  background: aliceblue;
  padding: 1.2rem 1.2rem 1.2rem 2.5rem;
  border-radius: 1.2rem;
  text-transform: capitalize;
  font-weight: 300;
}

.user__password__input {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.user__password__input > svg:nth-child(1) {
  position: absolute;
  top: 50%;
  left: 7%;
  transform: translate(0%, -50%);
}

.user__email__input svg {
  position: absolute;
  top: 50%;
  left: 7%;
  transform: translate(0%, -50%);
}

body > main > div > div > div.user__password__input > svg:nth-child(3) {
  position: absolute;
  top: 50%;
  right: 8%;
  transform: translate(0%, -50%);
}

.user__login__btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

button.login {
  border: none;
  outline: none;
  width: 90%;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 18px;
  background: #fb5200;
  color: white;
  padding: 0.5rem;
  border-radius: 0.8rem;
  cursor: pointer;
}

footer.login__foter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #989898;
  margin: 2rem 0 0 0;
}
svg {
  height: 16px;
  width: 16px;
  fill: #fb5200;
}
nav {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.nav__con {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav svg {
  width: 40px;
  height: 40px;
}
header.singup {
  margin: 1.5rem 0;
}
header.singup {
  margin: 1.5rem 0;
}
div.sing__up__btns > button {
  border-bottom: 2px solid transparent;
}
div.sing__up__btns > button:hover {
  /* content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 40px;
  height: 2px;
  background: #fb5200;
  transition: all 0.3s ease; */
  border-bottom: 2px solid #fb5200;
}
/* div.sing__up__btns > button a::after */
